PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/mern_app
CLIENT_URL=http://localhost:5173


# MaintainX
MAINTAINX_API_KEY=
MAINTAINX_API_URL=https://api.getmaintainx.com/v1

# Workday
WORKDAY_CLIENT_ID=
WORKDAY_CLIENT_SECRET=
WORKDAY_TENANT=
WORKDAY_API_URL=
WORKDAY_WORKERS_ENDPOINT=
WORKDAY_TIME_TRACKING_ENDPOINT=